In [1]:
from sklearn.datasets import load_iris

In [2]:
data = load_iris()
print("features",data.feature_names)

features ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [3]:
data.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size=0.3, stratify=data.target ,random_state=424)

In [6]:
print(X_train.shape)

(105, 4)

In [7]:
print(y_train.shape)

(105,)

In [8]:
print(y_test.shape)

(45,)

In [10]:
from sklearn.naive_bayes import GaussianNB

In [11]:
gnb=GaussianNB()

In [12]:
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [13]:
y_pred=gnb.predict(X_test)

In [14]:
y_pred

array([1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 2, 2, 2, 1, 2, 2, 1, 0, 1, 2, 2,
       0, 0, 2, 2, 2, 2, 0, 2, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0, 1, 2, 1, 0,
       2])

In [15]:
y_test

array([1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 2, 2, 2, 1, 2, 2, 1, 0, 1, 2, 2,
       0, 0, 2, 2, 2, 1, 0, 2, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0, 1, 2, 1, 0,
       2])

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)*100

97.77777777777777

In [20]:
weather=['Sunny','Sunny','overcast','rainy','rainy','rainy','overcast','Sunny','Sunny','rainy','Sunny','overcast','overcast','rainy']
temp=['hot','hot','hot','mild','cool','cool','cool','mild','cool','mild','mild','mild','hot','mild']
play=['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']

In [24]:
from sklearn import preprocessing

In [29]:
le=preprocessing.LabelEncoder()

In [30]:
weather_encoded=le.fit_transform(weather)

In [31]:
print(weather_encoded)

[0 0 1 2 2 2 1 0 0 2 0 1 1 2]

In [32]:
temp_encoded=le.fit_transform(temp)
print(temp_encoded)

[1 1 1 2 0 0 0 2 0 2 2 2 1 2]

In [33]:
play_encoded=le.fit_transform(play)
print(play_encoded)

[0 0 1 1 1 0 1 0 1 1 1 1 1 0]

In [35]:
def merge(list1,list2):
    merged_list= [(list1[i],list2[i]) for i in range(0,len(list1))]
    return merged_list

In [62]:
features = merge(weather_encoded,temp_encoded)
features

[(0, 1),
 (0, 1),
 (1, 1),
 (2, 2),
 (2, 0),
 (2, 0),
 (1, 0),
 (0, 2),
 (0, 0),
 (2, 2),
 (0, 2),
 (1, 2),
 (1, 1),
 (2, 2)]

In [63]:
gnnb=GaussianNB()

In [64]:
gnnb.fit(features,play_encoded)

GaussianNB(priors=None, var_smoothing=1e-09)

In [65]:
pred=gnnb.predict([[1,1]])
pred
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred )*100

82.46268656716418

In [42]:
import pandas as pd

In [43]:
df=pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
df['Fsize'] = df['SibSp'] + df['Parch']+1
df['Age'].fillna(df['Age'].median(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df['Fare'].fillna(df['Fare'].median(),inplace=True)
df['Embarked'].mode()[0]

'S'

In [45]:
df=df.drop('Name',axis=1)
df=df.drop('Ticket',axis=1)
df=df.drop('Cabin',axis=1)
df=df.drop('PassengerId',axis=1)

In [46]:
df=df.drop('SibSp',axis=1)
df=df.drop('Parch',axis=1)

In [47]:
df.head()

   Survived  Pclass     Sex   Age     Fare Embarked  Fsize
0         0       3    male  22.0   7.2500        S      2
1         1       1  female  38.0  71.2833        C      2
2         1       3  female  26.0   7.9250        S      1
3         1       1  female  35.0  53.1000        S      2
4         0       3    male  35.0   8.0500        S      1

In [48]:
df['Sex'][df['Sex']=='male']=1
df['Sex'][df['Sex']=='female']=2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
df['Embarked'][df['Embarked']=='S']=1
df['Embarked'][df['Embarked']=='C']=2
df['Embarked'][df['Embarked']=='Q']=3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
df.head()

   Survived  Pclass Sex   Age     Fare Embarked  Fsize
0         0       3   1  22.0   7.2500        1      2
1         1       1   2  38.0  71.2833        2      2
2         1       3   2  26.0   7.9250        1      1
3         1       1   2  35.0  53.1000        1      2
4         0       3   1  35.0   8.0500        1      1

In [51]:
df["Adult"]=0
df["Adult"][df["Age"]>=18]=1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
df.head()

   Survived  Pclass Sex   Age     Fare Embarked  Fsize  Adult
0         0       3   1  22.0   7.2500        1      2      1
1         1       1   2  38.0  71.2833        2      2      1
2         1       3   2  26.0   7.9250        1      1      1
3         1       1   2  35.0  53.1000        1      2      1
4         0       3   1  35.0   8.0500        1      1      1

In [53]:
x=df.filter(['Pclass','Sex','Age','Fare','Embarked','Fsize','Adult'])
X=x
y=df['Survived']
Y=y

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, stratify=Y ,random_state=424)

In [56]:
ggnb=GaussianNB()

In [57]:
ggnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [60]:
y_pred = ggnb.predict(X_test)

In [61]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred )*100

82.46268656716418